
{% block content %}
<br/><br/><br/>
        <h1 class="main_title"><em></em>Welcome to P.G.</h1>
        <p class="lead styled">
            We want to help the student and also job worker who work or study out of their town. With all the kind heart and with your support we do our work nicely. Thank you for your support and welcome nature. We hope we helped you with your stay.     
        </p>
        <div class="row">
            <div class="col-sm-6">
                <div class="mosaic_container">
                    <a href="/room_detail2"><img src="../static/img/mosaic_1.jpg" alt="" class="img-responsive add_bottom_30"><span class="caption_2">3* P.G.</span></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-xs-12">
                    <div class="mosaic_container">
                        <a href="/room_detail1"><img src="../static/img/mosaic_2.jpg" alt="" class="img-responsive add_bottom_30"><span class="caption_2">2* P.G.</span></a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="mosaic_container">
                        <a href="/room_detail3"><img src="../static/img/mosaic_3.jpg" alt="" class="img-responsive add_bottom_30"><span class="caption_2">4* P.G.</span></a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="mosaic_container">
                        <a href="/room_details"><img src="../static/img/mosaic_4.jpg" alt="" class="img-responsive add_bottom_30"><span class="caption_2">1* P.G.</span></a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- End row -->
{% endblock content %}
{% include "index.html" %}
{% load crispy_forms_tags %}
