braintree==3.19.0
certifi==2022.12.7
chardet==3.0.4
Django==1.8.4
django-crispy-forms==1.5.0
django-markdown-deux==1.0.5
django-pagedown==0.1.1
django-registration-redux==1.2
djangorestframework==3.3.3
djangorestframework-jwt==1.8.0
idna==2.6
markdown2==2.3.5
Pillow==2.9.0
PyJWT==1.6.1
pytz==2018.3
requests==2.18.4
urllib3==1.22
